.uppass{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color:whitesmoke;
}
.up-panel{
    width: 24%;
    height: 60%;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    > div {
      display: flex;
      align-items: center;
      width: 80%;
      > input {
        padding: 1vmax 4vmax;
        padding-right: 1vmax;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.267);
        border-radius: 4px;
        font: 300 0.9vmax cursive;
        outline: none;
      }
      > svg {
        position: absolute;
        transform: translate(1vmax);
        font-size: 1.6vmax;
        color: rgba(0, 0, 0, 0.634);
      }
    }
}
.signUpBtn {
    background-color: tomato;
    color: white;
    width: 80%;
    padding: 0.8vmax;
    box-sizing: border-box;
    border: none;
    outline: none;
    font: 500 1.1vmax Roboto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    
  }
  .signUpBtn:hover {
    background-color: black;
  }